<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TwigMessenger</title>
</head>
<body>
    <div style="font-family: Arial, serif">
        <div style="font-weight: bold">
            <labe style="margin-left: 55px">Login:</labe>
            <labe style="margin-left: 113px">Password:</labe>
            <labe style="margin-left: 110px">Message:</labe>
        </div>
        <form action="/twig/public" method="GET">
            <input name="login" value="admin">
            <input name="password" value="password">
            <input name="message">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>